<a href="https://colab.research.google.com/github/moatazkrimchi/Spark/blob/main/Spark_credit.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.0)
Requirement already satisfied: py4j==0.10.9.2 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.2)

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark = SparkSession.builder.appName("credit").getOrCreate()

In [ ]:
spark

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df = spark.read.csv("datasets.csv", inferSchema=True, header=True)

In [ ]:
df

DataFrame[Credit_History: double, Gender_Male: int, Married_Yes: int, Dependents_1: int, Dependents_2: int, Dependents_3+: int, Education_Not Graduate: int, Self_Employed_Yes: int, Property_Area_Semiurban: int, Property_Area_Urban: int, Loan_Status_Y: int, ApplicantIncome: int, CoapplicantIncome: double, LoanAmount: double, Loan_Amount_Term: double]

In [ ]:
df.printSchema()

root
 |-- Credit_History: double (nullable = true)
 |-- Gender_Male: integer (nullable = true)
 |-- Married_Yes: integer (nullable = true)
 |-- Dependents_1: integer (nullable = true)
 |-- Dependents_2: integer (nullable = true)
 |-- Dependents_3+: integer (nullable = true)
 |-- Education_Not Graduate: integer (nullable = true)
 |-- Self_Employed_Yes: integer (nullable = true)
 |-- Property_Area_Semiurban: integer (nullable = true)
 |-- Property_Area_Urban: integer (nullable = true)
 |-- Loan_Status_Y: integer (nullable = true)
 |-- ApplicantIncome: integer (nullable = true)
 |-- CoapplicantIncome: double (nullable = true)
 |-- LoanAmount: double (nullable = true)
 |-- Loan_Amount_Term: double (nullable = true)

In [ ]:
df.describe().show()

+-------+------------------+------------------+------------------+-------------------+-------------------+-------------------+----------------------+-------------------+-----------------------+-------------------+-------------------+-----------------+------------------+------------------+-----------------+
|summary|    Credit_History|       Gender_Male|       Married_Yes|       Dependents_1|       Dependents_2|      Dependents_3+|Education_Not Graduate|  Self_Employed_Yes|Property_Area_Semiurban|Property_Area_Urban|      Loan_Status_Y|  ApplicantIncome| CoapplicantIncome|        LoanAmount| Loan_Amount_Term|
+-------+------------------+------------------+------------------+-------------------+-------------------+-------------------+----------------------+-------------------+-----------------------+-------------------+-------------------+-----------------+------------------+------------------+-----------------+
|  count|               614|               614|               614|                614|                614|                614|                   614|                614|                    614|                614|                614|              614|               614|               614|              614|
|   mean|0.8550488599348535|0.8175895765472313|0.6530944625407166|0.16612377850162866|0.16449511400651465|0.08306188925081433|    0.2182410423452769|0.13355048859934854|     0.3794788273615635| 0.3289902280130293| 0.6872964169381107|5403.459283387622| 1621.245798027101|145.75244299674267|342.4104234527687|
| stddev|0.3523386063582998|0.3864972846176106|0.4763734681016683|0.37249516806665817| 0.3710265145882094| 0.2762007557939618|    0.4133886943339804|0.34044606554913354|     0.4856529437464421|0.47022949855074897|0.46397268871800085|6109.041673387181|2926.2483692241894| 84.10723338042617|64.42862906767304|
|    min|               0.0|                 0|                 0|                  0|                  0|                  0|                     0|                  0|                      0|                  0|                  0|              150|               0.0|               9.0|             12.0|
|    max|               1.0|                 1|                 1|                  1|                  1|                  1|                     1|                  1|                      1|                  1|                  1|            81000|           41667.0|             700.0|            480.0|
+-------+------------------+------------------+------------------+-------------------+-------------------+-------------------+----------------------+-------------------+-----------------------+-------------------+-------------------+-----------------+------------------+------------------+-----------------+

In [ ]:
df.columns

['Credit_History',
 'Gender_Male',
 'Married_Yes',
 'Dependents_1',
 'Dependents_2',
 'Dependents_3+',
 'Education_Not Graduate',
 'Self_Employed_Yes',
 'Property_Area_Semiurban',
 'Property_Area_Urban',
 'Loan_Status_Y',
 'ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term']

In [ ]:
from pyspark.ml.feature import VectorAssembler

In [ ]:
assembler = VectorAssembler(inputCols=['Credit_History',
 'Education_Not Graduate',
 'Self_Employed_Yes',
 'ApplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term',
 ],
 outputCol='features')

In [ ]:
output = assembler.transform(df)

In [ ]:
df_final = output.select('features', 'Loan_Status_Y')

In [ ]:
df_final.show(10)

+--------------------+-------------+
|            features|Loan_Status_Y|
+--------------------+-------------+
|[1.0,0.0,0.0,5849...|            1|
|[1.0,0.0,0.0,4583...|            0|
|[1.0,0.0,1.0,3000...|            1|
|[1.0,1.0,0.0,2583...|            1|
|[1.0,0.0,0.0,6000...|            1|
|[1.0,0.0,1.0,5417...|            1|
|[1.0,1.0,0.0,2333...|            1|
|[0.0,0.0,0.0,3036...|            0|
|[1.0,0.0,0.0,4006...|            1|
|[1.0,0.0,0.0,1284...|            0|
+--------------------+-------------+
only showing top 10 rows

In [ ]:
train, test = df_final.randomSplit([0.7, 0.3], seed=42)

In [ ]:
from pyspark.ml.classification import LogisticRegression

In [ ]:
LR = LogisticRegression(labelCol="Loan_Status_Y")

In [ ]:
LRm = LR.fit(train)

In [ ]:
LRm.summary

In [ ]:
LRm_summary = LRm.summary

In [ ]:
LRm_summary.predictions.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+--------------------+-------------+--------------------+--------------------+----------+
|            features|Loan_Status_Y|       rawPrediction|         probability|prediction|
+--------------------+-------------+--------------------+--------------------+----------+
|[0.0,0.0,0.0,1500...|          0.0|[4.10213047304043...|[0.98373163126029...|       0.0|
|[0.0,0.0,0.0,1828...|          0.0|[4.07973337713199...|[0.98336928406759...|       0.0|
|[0.0,0.0,0.0,2138...|          0.0|[4.06456183230965...|[0.98311933840009...|       0.0|
|[0.0,0.0,0.0,2221...|          0.0|[3.93395511492413...|[0.98080935372697...|       0.0|
|[0.0,0.0,0.0,2237...|          0.0|[4.54915969974463...|[0.98953459529814...|       0.0|
|[0.0,0.0,0.0,2483...|          1.0|[3.11288266211774...|[0.95742102547792...|       0.0|
|[0.0,0.0,0.0,2873...|          0.0|[4.14415335912995...|[0.98439065971904...|       0.0|
|[0.0,0.0,0.0,2987...|          0.0|[3.99602038120496...|[0.98194336420020...|       0.0|
|[0.0,0.0,0.0,3036...|          0.0|[4.22284023619324...|[0.98555476703240...|       0.0|
|[0.0,0.0,0.0,3166...|          0.0|[4.04142119362399...|[0.98273097877996...|       0.0|
|[0.0,0.0,0.0,3167...|          0.0|[3.98667853903677...|[0.98177697990044...|       0.0|
|[0.0,0.0,0.0,3180...|          0.0|[3.93306714789941...|[0.98079263294947...|       0.0|
|[0.0,0.0,0.0,3400...|          0.0|[4.09451143207118...|[0.98360924788578...|       0.0|
|[0.0,0.0,0.0,3510...|          0.0|[3.93673056554912...|[0.98086152461910...|       0.0|
|[0.0,0.0,0.0,3593...|          0.0|[3.20747820938579...|[0.96111472765145...|       0.0|
|[0.0,0.0,0.0,3597...|          0.0|[4.07387773237749...|[0.98327324851312...|       0.0|
|[0.0,0.0,0.0,3800...|          0.0|[4.38299723997210...|[0.98766615023359...|       0.0|
|[0.0,0.0,0.0,4300...|          0.0|[4.10242346643306...|[0.98373631957675...|       0.0|
|[0.0,0.0,0.0,4400...|          0.0|[4.06917886323561...|[0.98319579061433...|       0.0|
|[0.0,0.0,0.0,4945...|          0.0|[4.05151735910847...|[0.98290148635010...|       0.0|
+--------------------+-------------+--------------------+--------------------+----------+
only showing top 20 rows

In [ ]:
LRm_summary.predictions.describe().show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+-------+-------------------+-------------------+
|summary|      Loan_Status_Y|         prediction|
+-------+-------------------+-------------------+
|  count|                456|                456|
|   mean| 0.6951754385964912| 0.8771929824561403|
| stddev|0.46083866683033564|0.32857603872676244|
|    min|                0.0|                0.0|
|    max|                1.0|                1.0|
+-------+-------------------+-------------------+

In [ ]:
from pyspark.ml.evaluation import BinaryClassificationEvaluator

In [ ]:
pred_labels = LRm.evaluate(test)

In [ ]:
pred_labels.predictions.show()

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

+--------------------+-------------+--------------------+--------------------+----------+
|            features|Loan_Status_Y|       rawPrediction|         probability|prediction|
+--------------------+-------------+--------------------+--------------------+----------+
|[0.0,0.0,0.0,2137...|            1|[4.18875248459268...|[0.98506135552231...|       0.0|
|[0.0,0.0,0.0,2400...|            0|[4.07083653338457...|[0.98322315642958...|       0.0|
|[0.0,0.0,0.0,2645...|            0|[4.11370286483207...|[0.98391579943379...|       0.0|
|[0.0,0.0,0.0,2787...|            0|[4.19319616765902...|[0.98512660570626...|       0.0|
|[0.0,0.0,0.0,3062...|            0|[3.15925880630757...|[0.95927199841610...|       0.0|
|[0.0,0.0,0.0,3087...|            0|[4.14900415459179...|[0.98446502066219...|       0.0|
|[0.0,0.0,0.0,3089...|            0|[4.09991988461592...|[0.98369621579015...|       0.0|
|[0.0,0.0,0.0,3340...|            0|[4.18502894722159...|[0.98500646279671...|       0.0|
|[0.0,0.0,0.0,3430...|            0|[4.10969521777333...|[0.98385225326496...|       0.0|
|[0.0,0.0,0.0,3547...|            0|[3.94837837816190...|[0.98107895931204...|       0.0|
|[0.0,0.0,0.0,3588...|            0|[4.04481886290576...|[0.98278854547904...|       0.0|
|[0.0,0.0,0.0,3948...|            0|[4.15841383680049...|[0.98460827488517...|       0.0|
|[0.0,0.0,0.0,4166...|            0|[3.98341697977363...|[0.98171853574995...|       0.0|
|[0.0,0.0,0.0,4166...|            0|[4.04222594080025...|[0.98274463068087...|       0.0|
|[0.0,0.0,0.0,4333...|            1|[4.17956817398278...|[0.98492560014081...|       0.0|
|[0.0,0.0,0.0,4917...|            1|[4.05912692246299...|[0.98302890501106...|       0.0|
|[0.0,0.0,0.0,4923...|            1|[4.17651443715518...|[0.98488019361013...|       0.0|
|[0.0,0.0,0.0,5116...|            0|[4.16583583587329...|[0.98472035032134...|       0.0|
|[0.0,0.0,0.0,5516...|            0|[5.22863963062467...|[0.99466777204668...|       0.0|
|[0.0,0.0,0.0,6277...|            0|[3.96769527994083...|[0.98143422709944...|       0.0|
+--------------------+-------------+--------------------+--------------------+----------+
only showing top 20 rows

In [ ]:
eval = BinaryClassificationEvaluator(rawPredictionCol="prediction", labelCol="Loan_Status_Y")

In [ ]:
ac = eval.evaluate(pred_labels.predictions)

/usr/local/lib/python3.7/dist-packages/pyspark/sql/context.py:127: FutureWarning: Deprecated in 3.0.0. Use SparkSession.builder.getOrCreate() instead.
  FutureWarning

In [ ]:
ac

0.7260557053009884

In [ ]:
df.columns

['Credit_History',
 'Gender_Male',
 'Married_Yes',
 'Dependents_1',
 'Dependents_2',
 'Dependents_3+',
 'Education_Not Graduate',
 'Self_Employed_Yes',
 'Property_Area_Semiurban',
 'Property_Area_Urban',
 'Loan_Status_Y',
 'ApplicantIncome',
 'CoapplicantIncome',
 'LoanAmount',
 'Loan_Amount_Term']

In [ ]:
df.createOrReplaceTempView("Credit")

sqlDF = spark.sql("SELECT * FROM Credit WHERE Credit_History = '1'")
sqlDF.show()

+--------------+-----------+-----------+------------+------------+-------------+----------------------+-----------------+-----------------------+-------------------+-------------+---------------+-----------------+----------+----------------+
|Credit_History|Gender_Male|Married_Yes|Dependents_1|Dependents_2|Dependents_3+|Education_Not Graduate|Self_Employed_Yes|Property_Area_Semiurban|Property_Area_Urban|Loan_Status_Y|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|
+--------------+-----------+-----------+------------+------------+-------------+----------------------+-----------------+-----------------------+-------------------+-------------+---------------+-----------------+----------+----------------+
|           1.0|          1|          0|           0|           0|            0|                     0|                0|                      0|                  1|            1|           5849|              0.0|     128.0|           360.0|
|           1.0|          1|          1|           1|           0|            0|                     0|                0|                      0|                  0|            0|           4583|           1508.0|     128.0|           360.0|
|           1.0|          1|          1|           0|           0|            0|                     0|                1|                      0|                  1|            1|           3000|              0.0|      66.0|           360.0|
|           1.0|          1|          1|           0|           0|            0|                     1|                0|                      0|                  1|            1|           2583|           2358.0|     120.0|           360.0|
|           1.0|          1|          0|           0|           0|            0|                     0|                0|                      0|                  1|            1|           6000|              0.0|     141.0|           360.0|
|           1.0|          1|          1|           0|           1|            0|                     0|                1|                      0|                  1|            1|           5417|           4196.0|     267.0|           360.0|
|           1.0|          1|          1|           0|           0|            0|                     1|                0|                      0|                  1|            1|           2333|           1516.0|      95.0|           360.0|
|           1.0|          1|          1|           0|           1|            0|                     0|                0|                      0|                  1|            1|           4006|           1526.0|     168.0|           360.0|
|           1.0|          1|          1|           1|           0|            0|                     0|                0|                      1|                  0|            0|          12841|          10968.0|     349.0|           360.0|
|           1.0|          1|          1|           0|           1|            0|                     0|                0|                      0|                  1|            1|           3200|            700.0|      70.0|           360.0|
|           1.0|          1|          1|           0|           1|            0|                     0|                0|                      0|                  1|            1|           2500|           1840.0|     109.0|           360.0|
|           1.0|          1|          1|           0|           1|            0|                     0|                0|                      0|                  1|            1|           3073|           8106.0|     200.0|           360.0|
|           1.0|          1|          0|           0|           0|            0|                     0|                0|                      0|                  0|            0|           1853|           2840.0|     114.0|           360.0|
|           1.0|          1|          1|           0|           1|            0|                     0|                0|                      0|                  1|            1|           1299|           1086.0|      17.0|           120.0|
|           1.0|          1|          0|           0|           0|            0|                     0|                0|                      0|                  1|            1|           4950|              0.0|     125.0|           360.0|
|           1.0|          1|          0|           1|           0|            0|                     1|                0|                      0|                  1|            1|           3596|              0.0|     100.0|           240.0|
|           1.0|          1|          1|           0|           0|            0|                     1|                0|                      0|                  0|            0|           4887|              0.0|     133.0|           360.0|
|           1.0|          1|          1|           0|           0|            0|                     0|                0|                      0|                  1|            1|           2600|           3500.0|     115.0|           360.0|
|           1.0|          1|          1|           1|           0|            0|                     0|                0|                      0|                  1|            1|           5955|           5625.0|     315.0|           360.0|
|           1.0|          1|          1|           1|           0|            0|                     0|                0|                      1|                  0|            0|           3717|           2925.0|     151.0|           360.0|
+--------------+-----------+-----------+------------+------------+-------------+----------------------+-----------------+-----------------------+-------------------+-------------+---------------+-----------------+----------+----------------+
only showing top 20 rows

In [ ]:
sqlDF1 = spark.sql("SELECT ApplicantIncome, Credit_History FROM Credit WHERE ApplicantIncome > '4000'")
sqlDF1.show()

+---------------+--------------+
|ApplicantIncome|Credit_History|
+---------------+--------------+
|           5849|           1.0|
|           4583|           1.0|
|           6000|           1.0|
|           5417|           1.0|
|           4006|           1.0|
|          12841|           1.0|
|           4950|           1.0|
|           4887|           1.0|
|           7660|           0.0|
|           5955|           1.0|
|           9560|           1.0|
|           4226|           1.0|
|           4166|           1.0|
|           4692|           1.0|
|          12500|           1.0|
|           4166|           1.0|
|           4695|           1.0|
|           5649|           1.0|
|           5821|           1.0|
|           4230|           1.0|
+---------------+--------------+
only showing top 20 rows

In [ ]:
sqlDF2 = spark.sql("SELECT ApplicantIncome, Credit_History, Loan_Status_Y FROM Credit WHERE ApplicantIncome > '4000'")
sqlDF2.show()

+---------------+--------------+-------------+
|ApplicantIncome|Credit_History|Loan_Status_Y|
+---------------+--------------+-------------+
|           5849|           1.0|            1|
|           4583|           1.0|            0|
|           6000|           1.0|            1|
|           5417|           1.0|            1|
|           4006|           1.0|            1|
|          12841|           1.0|            0|
|           4950|           1.0|            1|
|           4887|           1.0|            0|
|           7660|           0.0|            0|
|           5955|           1.0|            1|
|           9560|           1.0|            1|
|           4226|           1.0|            1|
|           4166|           1.0|            0|
|           4692|           1.0|            0|
|          12500|           1.0|            0|
|           4166|           1.0|            1|
|           4695|           1.0|            1|
|           5649|           1.0|            1|
|           5821|           1.0|            1|
|           4230|           1.0|            0|
+---------------+--------------+-------------+
only showing top 20 rows

In [ ]:
sqlDF3 = spark.sql("SELECT ApplicantIncome, Credit_History, Loan_Status_Y FROM Credit WHERE ApplicantIncome > '4000'")
sqlDF.show()

+--------------+-----------+-----------+------------+------------+-------------+----------------------+-----------------+-----------------------+-------------------+-------------+---------------+-----------------+----------+----------------+
|Credit_History|Gender_Male|Married_Yes|Dependents_1|Dependents_2|Dependents_3+|Education_Not Graduate|Self_Employed_Yes|Property_Area_Semiurban|Property_Area_Urban|Loan_Status_Y|ApplicantIncome|CoapplicantIncome|LoanAmount|Loan_Amount_Term|
+--------------+-----------+-----------+------------+------------+-------------+----------------------+-----------------+-----------------------+-------------------+-------------+---------------+-----------------+----------+----------------+
|           1.0|          1|          0|           0|           0|            0|                     0|                0|                      0|                  1|            1|           5849|              0.0|     128.0|           360.0|
|           1.0|          1|          1|           1|           0|            0|                     0|                0|                      0|                  0|            0|           4583|           1508.0|     128.0|           360.0|
|           1.0|          1|          1|           0|           0|            0|                     0|                1|                      0|                  1|            1|           3000|              0.0|      66.0|           360.0|
|           1.0|          1|          1|           0|           0|            0|                     1|                0|                      0|                  1|            1|           2583|           2358.0|     120.0|           360.0|
|           1.0|          1|          0|           0|           0|            0|                     0|                0|                      0|                  1|            1|           6000|              0.0|     141.0|           360.0|
|           1.0|          1|          1|           0|           1|            0|                     0|                1|                      0|                  1|            1|           5417|           4196.0|     267.0|           360.0|
|           1.0|          1|          1|           0|           0|            0|                     1|                0|                      0|                  1|            1|           2333|           1516.0|      95.0|           360.0|
|           1.0|          1|          1|           0|           1|            0|                     0|                0|                      0|                  1|            1|           4006|           1526.0|     168.0|           360.0|
|           1.0|          1|          1|           1|           0|            0|                     0|                0|                      1|                  0|            0|          12841|          10968.0|     349.0|           360.0|
|           1.0|          1|          1|           0|           1|            0|                     0|                0|                      0|                  1|            1|           3200|            700.0|      70.0|           360.0|
|           1.0|          1|          1|           0|           1|            0|                     0|                0|                      0|                  1|            1|           2500|           1840.0|     109.0|           360.0|
|           1.0|          1|          1|           0|           1|            0|                     0|                0|                      0|                  1|            1|           3073|           8106.0|     200.0|           360.0|
|           1.0|          1|          0|           0|           0|            0|                     0|                0|                      0|                  0|            0|           1853|           2840.0|     114.0|           360.0|
|           1.0|          1|          1|           0|           1|            0|                     0|                0|                      0|                  1|            1|           1299|           1086.0|      17.0|           120.0|
|           1.0|          1|          0|           0|           0|            0|                     0|                0|                      0|                  1|            1|           4950|              0.0|     125.0|           360.0|
|           1.0|          1|          0|           1|           0|            0|                     1|                0|                      0|                  1|            1|           3596|              0.0|     100.0|           240.0|
|           1.0|          1|          1|           0|           0|            0|                     1|                0|                      0|                  0|            0|           4887|              0.0|     133.0|           360.0|
|           1.0|          1|          1|           0|           0|            0|                     0|                0|                      0|                  1|            1|           2600|           3500.0|     115.0|           360.0|
|           1.0|          1|          1|           1|           0|            0|                     0|                0|                      0|                  1|            1|           5955|           5625.0|     315.0|           360.0|
|           1.0|          1|          1|           1|           0|            0|                     0|                0|                      1|                  0|            0|           3717|           2925.0|     151.0|           360.0|
+--------------+-----------+-----------+------------+------------+-------------+----------------------+-----------------+-----------------------+-------------------+-------------+---------------+-----------------+----------+----------------+
only showing top 20 rows